header {
  text-align: center;
  padding: 10rem 0 5rem;
}
header h1,h2,h3 {
  line-height: 25px;
  font-weight: 200;
}
.wrapper {
  max-width: 850px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

}
.col {
  flex: 1 400px;
  margin: 0 1rem;
}
